<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 	http://www.springframework.org/schema/security
 	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
 	http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    
    <context:component-scan base-package="net.nfc" />
    <tx:annotation-driven transaction-manager="txManager"/> 
     
 <http auto-config='true'>
 	<intercept-url pattern="/static/**" filters="none"/>
 	<intercept-url pattern="/**" access="ROLE_USER, ROLE_SUPER_USER, ROLE_ADMIN"/>
 	<intercept-url pattern="/login.jsp*" filters="none"/>
 	<form-login login-page="/login.jsp" default-target-url="/index.jsp" authentication-failure-url="/login.jsp?error=true"/>

 </http>
    
    

	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
  		<beans:property name="userDetailsService" ref="userDetailsService"/>
  	</beans:bean>


    <beans:bean id="authenticationManager"
    class="org.springframework.security.authentication.ProviderManager">
    <beans:property name="providers">
        <beans:list>
            <beans:ref local="daoAuthenticationProvider" />
        </beans:list>
    </beans:property>
</beans:bean>

<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
     <beans:constructor-arg value="1"/>
 </beans:bean>
 <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
     <beans:property name="userPropertyToUse" value="id"/>
 </beans:bean>
    
<authentication-manager>
    	<authentication-provider  user-service-ref="userDetailsService" >
    	<password-encoder hash="sha"/>
    	  	<!--  	<user-service>
    			<user name="maciek" authorities="ROLE_USER" password="niewiem"/>
    		</user-service>
    		-->
    	</authentication-provider>
    </authentication-manager>
</beans:beans>