<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.password">niewiem2009</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@62.121.111.103:1521:xe</property>
  <property name="hibernate.connection.username">webservice_admin</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <property name="hibernate.connection.autoReconnect"> true</property>
  
 <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.current_session_context_class">thread</property>

<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

<property name="hibernate.c3p0.min_size">3</property>
<property name="hibernate.c3p0.max_size">5</property>
<property name="hibernate.c3p0.timeout">1800</property>
<property name="hibernate.c3p0.idle_test_period">100</property> <!-- seconds -->


        <!-- Disable second-level cache. -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="max_fetch_depth">3</property>
    
        <!-- Print SQL to stdout. -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
    
        <!-- Bind the getCurrentSession() method to the thread. -->
        <property name="current_session_context_class">thread</property>
  
  
  
  <mapping class="db.entity.CCompany" resource="db/entity/CCompany.hbm.xml"/>
  <mapping class="db.entity.CDevices" resource="db/entity/CDevices.hbm.xml"/>
  <mapping class="db.entity.CEmployee" resource="db/entity/CEmployee.hbm.xml"/>
  <mapping class="db.entity.CEvent" resource="db/entity/CEvent.hbm.xml"/>
  <mapping class="db.entity.CLocation" resource="db/entity/CLocation.hbm.xml"/>
  <mapping class="db.entity.CUserPrivileges" resource="db/entity/CUserPrivileges.hbm.xml"/>
  <mapping class="db.entity.CUsers" resource="db/entity/CUsers.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
