*{
   margin:0;
   padding:0;
}

.container{ 
	margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
	text-align:center;
    
	}
.header {
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	position: relative;
	left: 0px;
	float: center;
	text-align:center;
	border: 1px solid;
	font-size: 20px;
}
.login_info {
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	position: relative;
	left: 0px;
	float: center;
	text-align:right;
	border: 1px solid;
}
	
.top {
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 1px;
	position: relative;
	left: 0px;
	float: center;
	border: 1px solid;
}

.top_element {
	margin-bottom: 1px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1px;
	position: relative;
	float: left;
	left: 0px;
	border: 1px solid;
	width: 15%;

}
	
.left {
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	position: relative;
	left: 0px;
	float: left;
	width: 30%;
	border: 1px solid;
}

.right {
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	position: relative;	
	float: right;
	width: 65%;
	border: 1px solid;
}


img {
	border-style: none;
}

